@font-face {
    font-family: bebas;
    src: url(themes/default/assets/fonts/bebas.otf);
}
#beta {
  font-size: 12px;
}
#carglist {
  padding-top: 20px;
}
#sitename {
  margin-top: 0.7em;
  margin-bottom: 1em;
  font-family: bebas;
  font-size: 10em;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bg1 {
background: url(images/bg.png);
background-color: #232323;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.bg2 {
background: url(images/bg2.png);
background-color: #232323;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.bg3 {
background: url(images/bg3.png);
background-color: #232323;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
